body{
    background-color: red;
    font-size: 25px;
}

.heroText{
    text-align: center;
    font-size: 2em;
}
.content{
    border: 3px solid white;
    height: 500px;
    padding: 10px;
}
.formGroup{
    margin-left: 25px;
}
.generateButton {
    border-radius: 15px;
    padding:10px;
    margin-top: 25px;
    margin:0 auto; 
    text-align: center;
}

select{
    float: right;
    margin-right: 345px; 
}